header{
    background-color: black;
    color: white;
    
}
img{
    width: 15px;
    height:15px;
    padding-right: 15px;
    
}
nav{
    float: left;
    width: 30%;
    height: 300px;
}
nav ul{
    list-style-type: none;
    padding-left: inherit;
}

article{
    float: left;
    width: 70%;
    height: 300px;
}
section{
    clear: both;
}
button{
    float:right;
    background-color: green;
    color: white;
}