form {
    border: 3px solid #f1f1f1;
    display: inline;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    
    
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}



header {

    background:black;
    color: white;
    text-align: center;

}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


.avatar {
    width: 40%;
    border-radius: 80%;
}


.container {
    display:block;
    text-align:center;
    width: 50%;
    background-color: 	#D3D3D3;
    
}

body {
    background-image:url("background.png") ;
    background-repeat: no-repeat;
    background-size: 100%;

}